.App-logo {
  height: 40vmin;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}

.mapboxgl-map {
  position: absolute;
  border: 1px black solid;
}

.mapboxgl-canvas {
  left: 0;
}

.App-link {
  color: #09d3ac;
}

.info {
  height: 300;
  width: 300;
  border: 1px black solid;
}
