.App-logo {
  height: 40vmin;
}

/* .mapboxgl-map {
  padding-top: 10vh;
  position: absolute;
  border: 1px black solid;
} 

.mapboxgl-canvas {
  left: 0;
}

.App-link {
  color: #09d3ac;
}

/* .info {
  height: 300;
  width: 300;
  border: 1px black solid;
}
 */
